*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}


html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    color:#fff;
}


/* BACKGROUND VIDEO */

#background-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
}


/* DARK FILTER */

.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.82);
    z-index:-1;
}



/* PAGE */

.page{
    min-height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:35px 20px 20px;
}



/* HEADER */

header{
    width:100%;
    text-align:center;
}


.title{
    color:#ff0000;
    font-size:3.2rem;
    font-weight:900;
    letter-spacing:4px;
    text-transform:uppercase;

    text-shadow:
    0 0 8px #ff0000,
    0 0 18px #ff0000,
    0 0 35px #8b0000;
}



/* MAIN */

main{
    flex:1;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}



.button-container{

    width:100%;
    max-width:380px;

    display:flex;
    flex-direction:column;

    gap:25px;

    align-items:center;
}



/* BUTTONS */

.main-btn{

    width:100%;
    height:65px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    border:2px solid #ff1f1f;
    border-radius:15px;

    background:rgba(0,0,0,0.55);

    color:white;

    font-size:1.15rem;
    font-weight:900;

    letter-spacing:2px;

    cursor:pointer;

    transition:.3s;

    backdrop-filter:blur(8px);

    box-shadow:
    0 0 10px rgba(255,0,0,.4);
}



.main-btn:hover{

    background:#ff0000;

    transform:scale(1.06);

    box-shadow:

    0 0 15px #ff0000,
    0 0 35px #ff0000,
    0 0 60px #8b0000;

}



.main-btn:active{

    transform:scale(.97);

}



/* FOOTER */

footer{

    width:100%;

    text-align:center;

    color:#ddd;

    font-size:.85rem;

    font-weight:700;

    letter-spacing:2px;

    padding-top:15px;

}



/* MOBILE */

@media(max-width:768px){


.title{

    font-size:2.2rem;

    letter-spacing:2px;

}


.button-container{

    max-width:330px;

}


.main-btn{

    height:58px;

    font-size:1rem;

}


footer{

    font-size:.75rem;

}


}



/* PETITS ECRANS */

@media(max-height:600px){


.page{

    padding-top:20px;

}


.title{

    font-size:1.8rem;

}


.button-container{

    gap:15px;

}


.main-btn{

    height:52px;

}


}